/* the declarations */

:root{
    --orange: hsl(31, 77%, 52%);
    --cyan: hsl(184, 100%, 22%);
    --darkcyan: hsl(179, 100%, 13%);
    --transpwhite:  hsla(0, 0%, 100%, 0.75);
    --lightgray: hsl(0, 0%, 95%);
    --fontsize: 15px;
    
}

/* Initializing everything */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lexend Deca', sans-serif;
    font-size: var(--fontsize);
    width: 100%;
    height: 100vh;
     background-color: var(--lightgray);
}

/* The general container */
#main{
    display: flex;
   padding: 2rem 3rem 1rem;
    width: 90%;
    margin: 1.5rem auto;
}

.container{
    padding: 1.3rem 2rem 2rem;

}

/* container1 */

#container1{
    background-color: var(--orange);
    border-radius: 10px 0 0 10px;
}

/* container2 */

#container2{
    background-color: var(--cyan);
}

/* container3 */

#container3{
    background-color: var(--darkcyan);
    border-radius: 0 10px 10px 0;
}

/* The images */

.images{
    width: 23%
}

/* The headers */
h1{
    font-family: 'Big Shoulders Display', cursive;
    margin: 1rem auto;
    color: var(--lightgray);
    text-transform: uppercase;
}

/* The paragraphs */

.paras{
    line-height: 1.35rem;
    font-size: 12px;
    color: var(--transpwhite);
    margin: 0 2rem 4rem 0;
}

/* The buttons */

.bottom{
    background-color: var(--lightgray);
    padding: .4rem .9rem;
    border-radius: 50px;
    border: 2px solid var(--lightgray);
    font-size: 12px;
}
#button1{
    color: var(--orange);
}
#button1:hover{
    border: 2px solid var(--lightgray);
    color: var(--lightgray);
    background-color: var(--orange);
}
#button2{
    color: var(--cyan);
}
#button2:hover{
    border: 2px solid var(--lightgray);
    color: var(--lightgray);
    background-color: var(--cyan);
}
#button3{
    color: var(--darkcyan);
}
#button3:hover{
    border: 2px solid var(--lightgray);
    color: var(--lightgray);
    background-color: var(--darkcyan);
}


/* media queries for phones */

@media only screen and (max-width:715px){
    
    #main{
    display: flex;
    flex-direction: column;
        width: 97%;
        padding: 2rem;
}
    #container1{
        border-radius: 10px 10px 0 0;
    }
    #container3{
        border-radius: 0 0 10px 10px;
    }
}